## Storing dataset in mongoDb

In [19]:
import pymongo
import pandas as pd
from src.personalinfo import get_user,get_password

In [20]:
user = get_user()
password = get_password()

conecting to mongo

In [21]:
client = pymongo.MongoClient(f'mongodb+srv://{user}:{password}@cluster0.uprf1q8.mongodb.net/')
db = client.test

reading data

In [22]:
data = pd.read_csv(r"D:\Computer_science\Projects\Data_science_projects\CensusIncomePrediction\adult.csv")

In [23]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

converting data to dictionary so we can store in mongodb

In [24]:
data = data.to_dict(orient = "records")

In [25]:
data[0:2]

[{'age': 90,
  'workclass': '?',
  'fnlwgt': 77053,
  'education': 'HS-grad',
  'education.num': 9,
  'marital.status': 'Widowed',
  'occupation': '?',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'capital.gain': 0,
  'capital.loss': 4356,
  'hours.per.week': 40,
  'native.country': 'United-States',
  'income': '<=50K'},
 {'age': 82,
  'workclass': 'Private',
  'fnlwgt': 132870,
  'education': 'HS-grad',
  'education.num': 9,
  'marital.status': 'Widowed',
  'occupation': 'Exec-managerial',
  'relationship': 'Not-in-family',
  'race': 'White',
  'sex': 'Female',
  'capital.gain': 0,
  'capital.loss': 4356,
  'hours.per.week': 18,
  'native.country': 'United-States',
  'income': '<=50K'}]

creating database

In [26]:
database = client["Datasets"]

creating collection

In [27]:
collection = database["CensusIncomeDataSet"]

inserting data in collection

In [28]:
collection.insert_many(data)

Checking database creating or not

In [29]:
allDatabases = client.list_database_names()
print(allDatabases)

['Datasets', 'MachineLearningDatasets', 'books', 'cars', 'college', 'currency', 'game', 'timepass', 'trading', 'admin', 'local']

Checking collection in our database

In [30]:
useDB = client["MachineLearningDatasets"]
allCollections = useDB.list_collection_names()
print(allCollections)

['CensusIncomeDataSet']

Checking data in collection

In [31]:
allDocs = collection.find()
for i in range(10):
    print(allDocs[i])

{'_id': ObjectId('64d4c1eae56fafdb1d98fe3b'), 'age': 90, 'workclass': '?', 'fnlwgt': 77053, 'education': 'HS-grad', 'education.num': 9, 'marital.status': 'Widowed', 'occupation': '?', 'relationship': 'Not-in-family', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 4356, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe3c'), 'age': 82, 'workclass': 'Private', 'fnlwgt': 132870, 'education': 'HS-grad', 'education.num': 9, 'marital.status': 'Widowed', 'occupation': 'Exec-managerial', 'relationship': 'Not-in-family', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 4356, 'hours.per.week': 18, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe3d'), 'age': 66, 'workclass': '?', 'fnlwgt': 186061, 'education': 'Some-college', 'education.num': 10, 'marital.status': 'Widowed', 'occupation': '?', 'relationship': 'Unmarried', 'race': 'Black', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 4356, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe3e'), 'age': 54, 'workclass': 'Private', 'fnlwgt': 140359, 'education': '7th-8th', 'education.num': 4, 'marital.status': 'Divorced', 'occupation': 'Machine-op-inspct', 'relationship': 'Unmarried', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 3900, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe3f'), 'age': 41, 'workclass': 'Private', 'fnlwgt': 264663, 'education': 'Some-college', 'education.num': 10, 'marital.status': 'Separated', 'occupation': 'Prof-specialty', 'relationship': 'Own-child', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 3900, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe40'), 'age': 34, 'workclass': 'Private', 'fnlwgt': 216864, 'education': 'HS-grad', 'education.num': 9, 'marital.status': 'Divorced', 'occupation': 'Other-service', 'relationship': 'Unmarried', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 3770, 'hours.per.week': 45, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe41'), 'age': 38, 'workclass': 'Private', 'fnlwgt': 150601, 'education': '10th', 'education.num': 6, 'marital.status': 'Separated', 'occupation': 'Adm-clerical', 'relationship': 'Unmarried', 'race': 'White', 'sex': 'Male', 'capital.gain': 0, 'capital.loss': 3770, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe42'), 'age': 74, 'workclass': 'State-gov', 'fnlwgt': 88638, 'education': 'Doctorate', 'education.num': 16, 'marital.status': 'Never-married', 'occupation': 'Prof-specialty', 'relationship': 'Other-relative', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 3683, 'hours.per.week': 20, 'native.country': 'United-States', 'income': '>50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe43'), 'age': 68, 'workclass': 'Federal-gov', 'fnlwgt': 422013, 'education': 'HS-grad', 'education.num': 9, 'marital.status': 'Divorced', 'occupation': 'Prof-specialty', 'relationship': 'Not-in-family', 'race': 'White', 'sex': 'Female', 'capital.gain': 0, 'capital.loss': 3683, 'hours.per.week': 40, 'native.country': 'United-States', 'income': '<=50K'}
{'_id': ObjectId('64d4c1eae56fafdb1d98fe44'), 'age': 41, 'workclass': 'Private', 'fnlwgt': 70037, 'education': 'Some-college', 'education.num': 10, 'marital.status': 'Never-married', 'occupation': 'Craft-repair', 'relationship': 'Unmarried', 'race': 'White', 'sex': 'Male', 'capital.gain': 0, 'capital.loss': 3004, 'hours.per.week': 60, 'native.country': '?', 'income': '>50K'}

Using data from database

In [32]:
censusData = pd.DataFrame(allDocs)